
.about_details {
    /* border: 1px solid var(--third-color); */
    width: 80%;
    margin: 1rem auto;
}

.about_name {
    font-family: var(--font);
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 0.2rem;
}

.about_deep {
    color: var(--third-color);
    font-size: 24px;
    font-weight: 700;
    padding-left: 1rem;
    font-family: var(--font);
    line-height: 2.5rem;
    display: inline-block;
}

.my_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.other_skills {
    /* margin-top: 3rem; */
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.other_skills span {
    color: var(--second-color);
    border-bottom:1px solid var(--third-color);
    padding-bottom: 0.7rem;
}


@media only screen and (max-width:768px) { 
    .about_deep {
        font-size: 20px;
    }
}