.nav_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_list_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -1.5rem;
    z-index: 100;
    flex-basis: 10rem;
}

.nav_link {
    color: var(--second-color);
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
    border-left: 2px solid var(--second-color);
    /* border-bottom: 2px solid var(--second-color); */
    /* border-bottom-left-radius: 0.2rem; */
    padding: 0.2rem 0.5rem;
    transition: all ease-in 0.3s;
    text-transform: uppercase;
}

.nav_link:hover {
    background-color: var(--second-color);
    color: var(--main-color);
    border-bottom-right-radius: 0.7rem;
}

@media only screen and (max-width:768px) {
    .nav_link {
       width: 50%;
       text-align: center;
    }
}